@include establish-baseline;

body {
  font-family: $base-font-family;
  line-height: $base-line-height;
}
h1, h2, h3, h4 {
  font-family: $heading-font-family;
  line-height: $base-line-height;
}
.layout-container {
  -webkit-font-smoothing: antialiased;
}
